<launch>
    <param name="log_path" type="str" value="/home/dji/flash/"/>
    <param name="log_suffix" type="str" value="_val"/>
    <param name="params_path" type="str" value="models/all_types_val/params.json"/>
    <param name="checkpoint_path" type="str" value="models/all_types_val/headless/rev-0_model-ncp_seq-64_opt-adam_lr-0.000291_crop-0.000000_epoch-028_val_loss:0.2109_mse:0.1213_2022:02:02:22:20:37.hdf5"/>
    <node pkg="rnn_control" type="rnn_control_node.py" name="rnn_control_node" output="screen"/>
</launch>
