<launch>
    <param name="log_path" type="str" value="/home/dji/flash/"/>
    <param name="log_suffix" type="str" value="_val"/>
    <param name="params_path" type="str" value="models/all_types_val/params.json"/>
    <node pkg="rnn_control" type="rnn_control_node.py" name="rnn_control_node" output="screen"/>
</launch>
