<launch>
    <param name="use_data_rate" type="bool" value="false"/>
    <param name="loop_video" type="bool" value="true"/>
    <param name="image_directory" type="str" value="/media/dolphonie/Data/Files/UROP/devens_snowy_fixed/1645044796.39"/>

    <node pkg="rnn_control" type="camera_emulator_node.py" name="camera_emulator_node" output="screen"/>
</launch>
